[submodule "ghostty"]
	path = ghostty
	url = https://github.com/manaflow-ai/ghostty.git
	branch = main
[submodule "homebrew-cmuxplus"]
	path = homebrew-cmuxplus
	url = https://github.com/tamekuniz/homebrew-cmuxplus.git
[submodule "vendor/bonsplit"]
	path = vendor/bonsplit
	url = https://github.com/manaflow-ai/bonsplit.git
